model-viewer{
    height:400px;
    width:auto;
    margin-top: 50px;
}
body{
    /* background: red; */
    background-image: url("back.jpg");
}
.name{
    color:#fff;
    font-size: larger;
    font-family: "Algerian","helvatica";
    padding:10px;
    /* background:rgba(6, 22, 14, 0.304); */
    border-bottom: 5px double rgb(205, 210, 255);
    text-align:center;
    width:200px;
    

}